*{
  box-sizing: border-box;
}
#root {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.userProfile{
  display: flex;
  justify-content: center;
}

.account{
  border: 2pt black solid;
  background-color: rgb(70, 75, 77);
  padding: 1rem;
  max-width: 500px;
}

.userPost{
  border: 2pt black solid;
  background-color: rgb(127, 136, 121);
  padding: 1rem;
  max-width: 500px;
}

.post{
  border: 2pt black solid;
  background-color: rgb(127, 136, 121);
  max-width: 500px;
  padding: 1rem;
}

.editpostform{
  border: 2pt black solid;
  background-color: rgb(121, 133, 136);
  max-width: 400px;
  padding: 1rem;
}
.newpostform{
  border: 2pt black solid;
  background-color: rgb(70, 75, 77);
  max-width: 400px;
  padding: 1rem;

}

#AllPostFunctions{
  display: flex;
  flex-direction: row-reverse; 

  flex-grow: 2;
}

#loginform{

  padding: 1rem
}

#registerform{
  padding: 1rem
}

.messageForm{
  padding: 1rem
}
